{
    "default": {
        "baseUrl": "http://early.backbee.com",
        "loadTime": {
            "defaultWait": 1000,
            "mediumWait" : 2000,
            "longWait" : 5000,
            "minimumWait": 250,
            "body": 100,
            "loginPopin": 3000,
            "toolbar": 10000,
            "logout": 3000,
            "errorDisplay": 1000,
            "pageTree": {
                "loadPopin": 2000,
                "createPagePopin": 2500,
                "editPagePopin": 2500,
                "deletePagePopin": 2500,
                "createPage": 1000,
                "deletePage": 1000,
                "defaultWait": 1000,
                "searchInput": 1500,
                "searchSubmitButton": 1500,
                "waitForSearchResults": 1000,
                "waitForSubpagesToShow": 1000
            }
        },
        "login": {
            "realUser": {
                "username": "admins",
                "password": "admins"
            },
            "fakeUser": {
                "username": "fakeuser",
                "password": "fakepassword"
            }
        },
        "pageTree": {
            "createNewPage": "Create new page test",
            "position": {
                "x": 10,
                "y": 200
            }
        },
        "mediaLibrary" : {
            "names" : {
                "folder" : "Nightwatch folder",
                "image" : "Nightwatch picture",
                "pdf" : "Nightwatch pdf"
            },
            "files" : {
                "image" : "/nightwatch/testfiles/test.jpg",
                "pdf" : "/nightwatch/testfiles/test.pdf"
            }
        }
    }
}
